#title_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#sentenceInput {
    width: 90%;
    border: 0.1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    align-items: flex-end;
}

#sentenceInput:hover,
#sentenceInput:focus {
    border-color: #21b2a6;
    box-shadow: 0 0 30px rgba(33, 178, 166, 0.5);
}

/* Predict button */
#predictBtn {
    border-radius: 10px;
    margin-top: 10px;
}
